{{ header }}
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="main_content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>

  <div class="Z_SECTION features">
    <div class="wrap">
	<div class="title">
		Мы знаем, что у тебя не всегда есть время на полноценный сон, поэтому мы создали 
		<a href="/o-kompanii/issledovatelskaya-laboratoriya-hilding-anders-sleeplab/"><strong>умные спальные системы</strong></a>
	</div>
	<div class="list">
		<div class="item">
			<div class="pin">
				<img src="/image/catalog/i/m1.png" alt="">
			</div>
			<div class="name">
				Лаборатория изучения сна
			</div>
			<div class="description">
				Единственная лаборатория изучения сна человека SleepLab в Швейцарии
			</div>
		</div>
		<div class="item">
			<div class="pin">
				<img src="/image/catalog/i/m2.png" alt="">
			</div>
			<div class="name">
				Умные спальные системы
			</div>
			<div class="description">
				Мы дарим миру не просто кровати или матрасы, а умные спальные системы
			</div>
		</div>
		<div class="item">
			<div class="pin">
				<img src="/image/catalog/i/m3.png" alt="">
			</div>
			<div class="name">
				35 лет гарантии
			</div>
			<div class="description">
				Компания Hilding Anders с уверенностью предлагает гарантию до 35 лет
			</div>
		</div>
		<div class="item">
			<div class="pin">
				<img src="/image/catalog/i/m4.png" alt="">
			</div>
			<div class="name">
				Европейский подход в производстве
			</div>
			<div class="description">
				Немецкая педантичность, швейцарская точность и скандинавское хладнокровие
			</div>
		</div>
		<div class="item">
			<div class="pin">
				<img src="/image/catalog/i/m5.png" alt="">
			</div>
			<div class="name">
				Рассрочка без переплат
			</div>
			<div class="description">
				Выплачивайте только цену товара, а проценты банка мы возьмем на себя
			</div>
		</div>
		<div class="item">
			<div class="pin">
				<img src="/image/catalog/i/m6.png" alt="">
			</div>
			<div class="name">
				Стандарты качества
			</div>
			<div class="description">
				Мы работаем по стандартам качества, признанным во всем мире
			</div>
		</div>
	</div>
</div>
</div>

</div>


{# STATISTICS #}
<div class="Z_SECTION statistics">
    <div class="wrap">
	<div class="title">
		<strong>Более 80 лет</strong> <br>
		Hilding Anders дарит всему миру цветные сны!
	</div>
	<div class="list">
		<div class="item">
			<div class="counter executed processed" style="z-index: 8000000;">
				<div class="value">8000000</div>
8000000
			</div>
			<div class="line">
			</div>
			<div class="name">
				кроватей и матрасов <br>
				производится каждый год
			</div>
		</div>
		<div class="item">
			<div class="counter executed processed" style="z-index: 30;">
				<div class="value">30</div>
30
			</div>
			<div class="line">
			</div>
			<div class="name">
				Крупнейших заводов <br>
				в объединении
			</div>
		</div>
		<div class="item">
			<div class="counter executed processed" style="z-index: 56;">
				<div class="value">56</div>
56
			</div>
			<div class="line">
			</div>
			<div class="name">
				стран мира <br>
				в торговой сети
			</div>
		</div>
		<div class="item">
			<div class="counter executed processed" style="z-index: 80;">
				<div class="value">80</div>
80
			</div>
			<div class="line">
			</div>
			<div class="name">
				лет на рынке
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://hildinganders.kz/js/lib/askona/main/statistics.js?ver=18.07.26.1"></script>
</div>
{# END OF STATISTICS #}


{# NEWS #}
<div class="Z_SECTION news">
    <div class="Z_SECTION wrap">
    <div class="caption">
			Новости компании
	<div class="select-bar">
		<a class="all" href="/news/">Пресс-центр</a>
	</div>
</div><div class="leadItem cf">
                <div class="img" style="max-width: 658px">
                    <a href="https://hildinganders.kz/novinka-v-kollekcii-shveycarskih-matrasov/">
                        <img class="ty-pict     " id="det_img_549932175" src="https://hildinganders.kz/images/thumbnails/658/324/news/10/Новый-матрас-air.jpg" alt="" title="" width="658" height="324">
                    </a>
                </div>
                <div class="txt">
                    <div class="h3"><a href="https://hildinganders.kz/novinka-v-kollekcii-shveycarskih-matrasov/">Новинка в коллекции швейцарских матрасов!</a></div>
                    <time>11 Ноя 2019</time>
                    <p> Представляем вашему вниманию новую модель матрасов Air Pulse из коллекции швейцарского бренда Bicoflex </p>
                </div>
            </div>
                                                <div class="list">
                <div class="in cf">
                        <div class="item">
                <div class="img">
                    <a href="https://hildinganders.kz/novaya-kollekciya-divanov-hildinganders.kz/">
                        <img class="ty-pict     " id="det_img_1483877215" src="https://hildinganders.kz/images/news/10/Screenshot_2.jpg" alt="" title="" width="" height="">
                    </a></div>
                <div class="h4"><a href="https://hildinganders.kz/novaya-kollekciya-divanov-hildinganders.kz/">Новая коллекция диванов Hilding Anders!</a></div>
                <time>08 Июл 2019</time>
                <p> 
	Сегодня скандинавские интерьеры - одни из самых модных. Они функциональные, простые и элегантные одновременно. Следуя самым модным тенденциям, представляем новую коллекцию диванов Hilding Anders! </p>
            </div>
                                                                    <div class="item">
                <div class="img">
                    <a href="https://hildinganders.kz/novaya-kollekciya-krovatey-hildinganders.kz-9/">
                        <img class="ty-pict     " id="det_img_2123053512" src="https://hildinganders.kz/images/news/10/Screenshot_3.jpg" alt="" title="" width="" height="">
                    </a></div>
                <div class="h4"><a href="https://hildinganders.kz/novaya-kollekciya-krovatey-hildinganders.kz-9/">Новая коллекция кроватей Hilding Anders!</a></div>
                <time>05 Июл 2019</time>
                <p> Скандинавский стиль сложно представить без использования натуральных материалов. Поэтому представляем Вам новинку – корпусные кровати Hilding Anders! </p>
            </div>
                                                                    <div class="item">
                <div class="img">
                    <a href="https://hildinganders.kz/uyut-so-svechami-ot-hilding-anders/">
                        <img class="ty-pict     " id="det_img_1899484627" src="https://hildinganders.kz/images/news/10/222tif_znna-5e.jpg" alt="" title="" width="" height="">
                    </a></div>
                <div class="h4"><a href="https://hildinganders.kz/uyut-so-svechami-ot-hilding-anders/">Домашний уют со свечами Hilding Anders!</a></div>
                <time>22 Май 2019</time>
                <p> Создай домашний уют со свечами Hilding Anders!&amp;nbsp;&amp;nbsp; Посмотреть каталог !&amp;nbsp;  </p>
            </div>
                            <a class="item digest" href="/images/magazine/ha_magazine_23.pdf" target="_blank">
    <div class="type">Дайджест</div>
    <div class="name">HILDING ANDERS</div>
    <div class="image"><img alt="" src="/images/main/ha_magazine_23.jpg"></div>
    <div class="name">Выпуск №23</div>
</a>
                                        </div>
                </div>
</div>
</div>
{# ENF OF NEWS #}



{# VIDEOS #}
<div class="Z_SECTION videos">
    <div class="Z_SECTION wrap">
    <div class="caption">
			Видео
	<div class="select-bar">
		<a class="all" href="https://www.youtube.com/user/HildingAndersRU" target="_blank">Канал на youtube</a>
	</div>
</div><div class="list"><div class="in">
			<div class="couple cf active">
				<div class="item">
                    <div class="vd"><iframe src="https://www.youtube.com/embed/eoofqDMY_go" allowfullscreen="" width="512" height="314" frameborder="0"></iframe></div>
                    <div class="name">Ergomotion 3160</div>
                    <div class="description">Минимализм в дизайне и легкость в использовании.</div>
                </div>
				<div class="item">
                    <div class="vd"><iframe src="https://www.youtube.com/embed/mbsRGAaQ38A" allowfullscreen="" width="512" height="314" frameborder="0"></iframe></div>
                    <div class="name">Основание Expanded</div>
                    <div class="description">Hilding Expanded полностью изменит ваше представление о сне, в нем сочетаются современные технические характеристики и легкость в управлении, прекрасный внешний вид и практичность, непревзойденный комфорт и безопасность.&nbsp;</div>
                </div>
			</div>
			<div class="couple cf" style="opacity: 0; visibility: visible;">
				<div class="item">
					<div class="vd"><iframe src="https://www.youtube.com/embed/QH1OeHqYyvY" allowfullscreen="" width="512" height="314" frameborder="0"></iframe></div>
					<div class="name">Hilding Anders. <br>Мы дарим миру цветные сны!</div>
					<div class="description">Hilding Anders — крупнейший в Европе и Азии концерн по производству и продаже матрасов и товаров для сна.</div>
				</div>
				<div class="item">
					<div class="vd"><iframe src="https://www.youtube.com/embed/hdJbUTRA6u8" allowfullscreen="" width="512" height="314" frameborder="0"></iframe></div>
					<div class="name">Завод Hilding Anders в Польше</div>
					<div class="description"></div>
				</div>
            </div>
            <div class="couple cf" style="opacity: 0; visibility: visible;">
                    <div class="item">
                        <div class="vd"><iframe src="https://www.youtube.com/embed/v1ib755bHZM" allowfullscreen="" width="512" height="314" frameborder="0"></iframe></div>
                        <div class="name">Лаборатория Sleep Lab</div>
                        <div class="description">Виртуальный тур по первой в Европе лаборатории сна</div>
                    </div>
                    <div class="item">
                        <div class="vd"><iframe src="https://www.youtube.com/embed/3sfS1aL8c9M" allowfullscreen="" width="512" height="314" frameborder="0"></iframe></div>
                        <div class="name">Прикроватный столик Otta (Отта) - простое решение для Вашего удобства.&nbsp;</div>
                        <div class="description">Прикроватный столик Otta (Отта) был разработан специально для новых корпусных кроватей компании Hilding Anders. Он обладатель минималистичного дизайна, который поможет украсить не только интерьер, но и станет его неотъемлемой функциональной частью.&nbsp;</div>
                    </div>
            </div>
            <div class="couple cf" style="opacity: 0; visibility: visible;">
                    <div class="item">
                        <div class="vd"><iframe src="https://www.youtube.com/embed/UspNBs827xo" allowfullscreen="" width="512" height="314" frameborder="0"></iframe></div>
                        <div class="name">Новинка! Матрас в коробке Hilding Box</div>
                        <div class="description">Подходит как для интерьерных, так и для корпусных кроватей.</div>
                    </div>
                    <div class="item">
                        <div class="vd"><iframe src="https://www.youtube.com/embed/pVirIUCHVuE" allowfullscreen="" width="512" height="314" frameborder="0"></iframe></div>
                        <div class="name">Скандинавский стиль Hilding Anders</div>
                        <div class="description">Сегодня скандинавские интерьеры — одни из самых модных. Они функциональные, простые и элегантные одновременно. Следуя самым модным тенденциям, представляем новую коллекцию кроватей и диванов HildingAnders.</div>
                    </div>
            </div>
            <div class="couple cf" style="opacity: 0; visibility: visible;">
                    <div class="item">
                        <div class="vd"><iframe src="https://www.youtube.com/embed/A1rwjJqA-Ws" allowfullscreen="" width="512" height="314" frameborder="0"></iframe></div>
                        <div class="name">Hilding Anders. Since 1939</div>
                        <div class="description">это 5 видов спальных систем от мировых производителей и более 70 лет опыта</div>
                    </div>
            </div>
        </div>
<a href="#prev" class="navs prev"></a><a href="#next" class="navs next"></a><div class="bulls"><a href="#0" class="active"></a><a href="#1" class=""></a><a href="#2" class=""></a><a href="#3" class=""></a><a href="#4" class=""></a></div></div>

<script type="text/javascript" src="https://hildinganders.kz/js/lib/askona/video/main_video.js?ver=18.07.26.1"></script>
</div><div class="Z_SECTION ">
    <div class="    ty-float-left">
            <div style="padding: 0 8% 27px 8%; font-size: 12px">
	<h1 style="text-align: left; margin-bottom:27px;">
	Интернет-магазин матрасов Hilding Anders
	</h1>
	<p>
	Hilding Anders предлагает товары для здорового сна лучших мировых производителей. В нашем каталоге вы найдете матрасы, кровати, одеяла, мебель для спальни и аксессуары брендов Hilding (Швеция), Andre Renault (Франция), Bicoflex (Швейцария), Jensen (Норвегия), Ergomotion (США).
	</p>
	<div class="h2" style="font-size:16px; line-height:20px;color:#5f5d5d">
		Достоинства товаров для сна Hilding Anders
	</div><p>
	Hilding Anders — это продукция, которой доверяют. Мы 80 лет на мировом рынке, а в 2020 году открыли фирменный магазин матрасов в Алматы. Мы стремимся подарить каждому здоровый и комфортный сон, поэтому тестируем товары в нашей лаборатории сна SleepLab в Швейцарии. Матрасы, мебель и аксессуары Hilding Anders — это:
	</p><ul>
		
<li>Удобный сон в любой позе.</li>	</ul><p>
	В нашем интерне-магазине представлены матрасы и подушки, которые повторяют контуры тела. Благодаря этому вы можете полностью расслабиться и лучше восстановить силы.
	</p><ul>
		
<li>Забота о вашем здоровье.</li>	</ul><p>
	Мы используем гипоаллергенные материалы, что позволяет людям с аллергией беззаботно спать на матрасах Hilding Anders.
	</p><ul>
		
<li>Долгий срок службы.</li>	</ul><p>
	В лаборатории мы проверяем надежность и долговечность продукции. Поэтому гарантируем, что наши матрасы выдерживают большие нагрузки, перепады температур и воздействие влаги. Мы предоставляем на них расширенную гарантию.
	</p><ul>
		
<li>Комфортный микроклимат в постели.</li>	</ul><p>
	В нашем магазине вы можете купить матрасы, одеяла и подушки, которые поддерживают комфортную влажность и температуру в постели. Наши товары для сна обладают свойством воздухопроницаемости и создают приятный сухой микроклимат.
	</p><p>
	В интернет-магазине Hilding Anders можно заказать матрасы с доставкой по Алмате и в другие города Казахстана&nbsp;. Стоимость доставки вы можете узнать при оформлении заказа или уточнить у оператора по телефону. По всем вопросам звоните по номеру +7 775 332 23 33&nbsp;или оставляйте заявку в форме обратной связи.</p></div>

    </div>
</div>
</div>
{# END OF VIDEOS #}
{{ footer }}